extends layout

block content
  div(class='hero-unit')
    h1 Greetings from Faldy
    hr
    table
      tr
        td(width='200px')
          b Nama Lengkap
        td Faldy Ikhwan Fadila
      tr
        td
          b Universitas/Instansi
        td Universitas Gadjah Mada
      tr
        td
          b Jurusan
        td Ilmu Komputer dan Sistem Informasi
      tr
        td
          b Angkatan
        td 2015
    hr
    p
      font(size='6') Motivasi saya mengikuti #[b Fullstack Javascript Workshop] adalah untuk belajar hal baru, mencari pengalaman, dan bertemu orang-orang hebat.
    hr
    p.
      Computer Science and Information System Student
  script(src='js/bootstrap.min.js')
  script(src='js/jquery-3.1.1.min.js')
